<section>
  <header><app-header></app-header></header>
  <nav><app-menu></app-menu></nav>
  <main><br>
      <form #editComputerForm="ngForm">   
      <span>Previous Owner's Name: </span> <input type="text" id="previousOwner" placeholder="Previous Owner's Name" name="previousOwnersName" [(ngModel)]="preComputer.ownerName" minlength="5" maxlength="40" required/><br><br>
      <span>Previous IP Address: </span> <input type="text" id="previousIp" placeholder="Previous IP Address" name="previousIpAddress" [(ngModel)]="preComputer.ip" minlength="7" maxlength="40" pattern="[.\d\a-z]*" required/><br><br>
      <span>Owner's Name: </span> <input type="text" placeholder="Owner's Name" name="ownersName" [(ngModel)]="computer.ownerName" minlength="5" maxlength="40" required/><br><br>
      <span>IP Address: </span> <input type="text" id="ip" placeholder="IP Address" name="ipAddress" [(ngModel)]="computer.ip" minlength="7" maxlength="40" pattern="[.\d\a-z]*" required/><br><br>
      <input type="button" value="Edit" [disabled]="editComputerForm.invalid" (click)="editComputerFoo();"/>
    </form><br>
    <div *ngIf="flag">your computer information had been edited successfully</div><br>
    <div *ngIf="!flag">{{exception}}</div>
  </main>
  <footer><app-footer></app-footer></footer>
</section>