<section>
  <br><form #RegisterForm="ngForm">
        <span>Username: </span><input type="text" placeholder="Username" name="Usersname" [(ngModel)]="user.username" minlength="5" maxlength="40" pattern="[a-z\A-Z\d]*" required/><br><br>
        <span>Password: </span><input type="password" id="pass" placeholder="Password" name="userPass" [(ngModel)]="user.password" minlength="5" maxlength="40" required/><br><br>
        <input type="button" id="registerBtn" value="Register" [disabled]="RegisterForm.invalid" (click)=registerFoo();/>
        <input type="button" value="Login" (click)=navigateLogin();/>
  </form><br>
  <div *ngIf="flag">{{output}}</div><br>
  <div *ngIf="!flag">{{exception}}</div>
</section>