<section>
  <header><app-header></app-header></header>
  <nav><app-menu></app-menu></nav>
  <main><br>
      <form #addComputerForm="ngForm">
      <span>Owner's Name: </span><input type="text" placeholder="Owner's Name" name="ownersName" [(ngModel)]="computer.ownerName" minlength="5" maxlength="40" required/><br><br>
      <span>IP Address: </span><input type="text" id="ip" placeholder="IP Address" name="ipAddress" [(ngModel)]="computer.ip" minlength="7" maxlength="40" pattern="[.\d\a-z]*" required/><br><br>
      <input type="button" value="Add" [disabled]="addComputerForm.invalid" (click)="addComputerFoo();"/>
    </form><br>
    <div *ngIf="flag">{{output}}</div><br>
    <div *ngIf="failFlag">{{exception}}</div>
  </main>
  <footer><app-footer></app-footer></footer>
</section>