<section>
  <header><app-header></app-header></header>
  <nav><app-menu></app-menu></nav>
  <main><br>
    <table *ngIf="flag">
    <tr>
      <th>Owner's Name</th>
      <th>IP Address</th>
    </tr>
    <tr *ngFor="let computer of computers;index as i;">
      <td>{{computer.ownerName}}</td>
      <td class="ip">{{computer.ip}}</td>     
      <td class="pingBtn"><input type = "button" value = "Ping" (click)="getPingFoo(computer.ip, i);"></td>
      <td class="ping">{{ping[i]}}</td><br><br>
    </tr>
    </table><br>
    <div *ngIf="!flag || failPingFlag">{{exception}}</div>
  </main>
  <footer><app-footer></app-footer></footer>
</section>