section {
    height: 100%;
    display: grid;
    grid-template-rows: 15% 70% 15%;
    grid-template-columns: repeat(12, 1fr);
    padding: 0px;
    font-family: 'verdana', 'times new roman';
    text-align: center;
}

header {
    grid-column: 12 span;
    border: 1px solid black;
    padding: 55px;
}

nav {
    grid-column: 1 span;
    border: 1px solid black;
    padding: 180px 5px 0px 5px;
}

main {
    grid-column: 11 span;
    border: 1px solid black;
}

footer {
    grid-column: 12 span;
    border: 1px solid black;
    padding: 55px;
}

table {
  /*  padding: 0px 0px 0px 655px;*/
  padding: 0px 0px 0px 0px;
}

.ip {
    padding-left: 40px;
}

.pingBtn {
    padding-left: 10px;
}

.ping {
    padding-left: 10px;
    font-size: 14.7px;
}